<!-- TODO Simplify launch files with a turtlebot_common file -->
<launch>
    <arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>
    <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
    <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
    <arg name="gui" default="false"/>
    <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
    <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
    <arg name="sensor_record" default="true"/>
    <arg name="save_file_prefix" default="/home/matt/thesis/experiment_data/one_stationary/"/>
    <arg name="sim_time" default="60"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <param name="number_of_robots" type="int" value="1"/>
    <param name="save_file_prefix" type="string" value="$(arg save_file_prefix)"/>
    <param name="sim_time" type="double" value="$(arg sim_time)"/>
    <param name="x_upper" type="double" value="10"/>
    <param name="x_lower" type="double" value="-10"/>
    <param name="y_upper" type="double" value="10"/>
    <param name="y_lower" type="double" value="-10"/>
    <param name="debug" type="bool" value="$(arg debug)"/>

    <include file="$(find cwru_turtlebot)/launch/world_common.launch.xml">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <group ns="turtlebot1">
        <include file="$(find cwru_turtlebot)/launch/turtlebot_stationary.launch.xml">
            <arg name="model_name" value="turtlebot1"/>
            <arg name="x_pos" value="0"/>
            <arg name="y_pos" value="0"/>
            <arg name="sensor_record" value="$(arg sensor_record)"/>
        </include>
    </group>
</launch>
