<!-- TODO Simplify launch files with a turtlebot_common file -->
<launch>
    <arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>
    <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
    <arg name="gui" default="false"/>
    <arg name="sensor_record" default="true"/>
    <arg name="save_file_prefix" default="/home/matt/thesis/experiment_data/one_mobile/"/>
    <arg name="sim_time" default="60"/>
    <arg name="debug" default="false"/>

    <param name="number_of_robots" type="int" value="1"/>
    <param name="save_file_prefix" type="string" value="$(arg save_file_prefix)"/>
    <param name="sim_time" type="double" value="$(arg sim_time)"/>
    <param name="x_upper" type="double" value="-15"/>  <!-- Current global costmap has origin at (-20, -20) -->
    <param name="x_lower" type="double" value="-25"/>  <!-- Should find out if there is a way to set this -->
    <param name="y_upper" type="double" value="-15"/>  <!-- automatically based on costmap size -->
    <param name="y_lower" type="double" value="-25"/>
    <param name="debug" type="bool" value="$(arg debug)"/>


    <include file="$(find cwru_turtlebot)/launch/world_common.launch.xml">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <group ns="turtlebot1">
        <include file="$(find cwru_turtlebot)/launch/turtlebot_2d.launch.xml">
            <arg name="model_name" value="turtlebot1"/>
            <arg name="x_pos" value="-1"/>
            <arg name="y_pos" value="-1"/>
            <arg name="yaw" value="3.14159"/>
            <arg name="sensor_record" value="$(arg sensor_record)"/>
        </include>
    </group>
</launch>
