<!-- TODO Simplify launch files with a turtlebot_common file -->
<launch>
    <arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>
    <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
    <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
    <arg name="gui" default="true"/>
    <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
    <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
    <arg name="sensor_record" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="$(arg gui)" />
        <!-- arg name="world_name" value="$(arg world_file)"/-->
    </include>

    <group ns="turtlebot1">
        <include file="$(find cwru_turtlebot)/launch/turtlebot_stationary.launch.xml">
            <arg name="model_name" value="turtlebot1"/>
            <arg name="x_pos" value="0"/>
            <arg name="y_pos" value="0"/>
            <arg name="sensor_record" value="$(arg sensor_record)"/>
        </include>
    </group>

    <group ns="turtlebot2">
        <include file="$(find cwru_turtlebot)/launch/turtlebot_stationary.launch.xml">
            <arg name="model_name" value="turtlebot2"/>
            <arg name="x_pos" value="2"/>
            <arg name="y_pos" value="0"/>
            <arg name="yaw" value="3.14159"/>
            <arg name="sensor_record" value="$(arg sensor_record)"/>
        </include>
    </group>
    <!--
    <group ns="turtlebot3">
        <include file="$(find cwru_turtlebot)/launch/turtlebot_stationary.launch.xml">
            <arg name="model_name" value="turtlebot3"/>
            <arg name="x_pos" value="4"/>
            <arg name="y_pos" value="0"/>
            <arg name="yaw" value="3.14159"/>
        </include>
    </group>
    -->
    <!--node pkg="rviz" type="rviz" name="turtlebot1_rviz" args="-d $(find project1)/rviz/turtlebot1.rviz"/>
    <node pkg="rviz" type="rviz" name="turtlebot2_rviz" args="-d $(find project1)/rviz/turtlebot2.rviz"/>
    <node pkg="rviz" type="rviz" name="turtlebot3_rviz" args="-d $(find project1)/rviz/turtlebot3.rviz"/-->
</launch>
