<launch>
    <arg name="debug" default="false"/>
    <arg name="gui" default="false"/>
    <arg name="noisy" default="false"/>
    <arg name="number_of_robots"/>
    <arg name="sim_time" default="60"/>

    <param name="number_of_robots" type="int" value="$(arg number_of_robots)"/>
    <param name="sim_time" type="double" value="$(arg sim_time)"/>
    <param name="x_upper" type="double" value="15"/>
    <param name="x_lower" type="double" value="-15"/>
    <param name="y_upper" type="double" value="15"/>
    <param name="y_lower" type="double" value="-15"/>
    <param name="debug" type="bool" value="$(arg debug)"/>
    <param name="noisy" type="bool" value="$(arg noisy)"/>

    <include file="$(find cwru_turtlebot)/launch/gazebo/empty_world.launch.xml">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)" />
    </include>

    <node pkg="cwru_turtlebot" type="simulation_timer.py" name="simulation_timer" required="true" output="screen"/>

    <node if="$(arg debug)" pkg="rqt_console" type="rqt_console" name="rqt_console"/>

    <!--<arg name="map_file" default="$(env TURTLEBOT_GAZEBO_MAP_FILE)"/>-->
    <!--<node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>-->

    <node if="$(arg gui)" name="rviz" pkg="rviz" type="rviz" args="-d /home/matt/turtlebot_navigation.rviz" required="true"/>
</launch>